---
import Template from "../../../template/Template.astro";
import Article from "../../../components/project/Article.astro";
import Breadcrumb from "../../../components/Breadcrumb.astro";
import LanguageController from "../../../components/LanguageController.astro";
import { GetAllProjects } from "../../../api/projects";

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
    { params: { lang: 'ch' } },
  ];
}

const { lang } = Astro.params;
const projects = await GetAllProjects({ lang });
const routes = [
  { text: 'Brayan Téllez', href: '/' },
  { text: 'Proyectos', href: `/${lang}/projects` }
];
---
<Template includes={['projects', 'projectcard', 'lang-buttons']} lang={lang} title={`Brayan Téllez | Proyectos`}>
    <LanguageController lang={lang}/>
    <Breadcrumb routes={routes}/>
    <section id="main">
        {
            projects.map( project => <Article {...project}/> )
        }
    </section>
</Template>