---
import Header from "../components/Header.astro";
const includes = Astro.props.includes ?? [];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/styles/global.css">
		{ includes.map( ( i: string ) => <link rel="stylesheet" href={`/styles/${i}.css`} set:html/> ) }
		<title>Astro</title>
	</head>
	<body id="root">
        <Header/>
        <slot/>
	</body>
</html>
