---
import { SPANISH } from "../utils/langs";

const name = 'Brayan Téllez Cruz';

const meta = {
  title: `${name} | Sobre mí`
};
---
<html lang={SPANISH}>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="0;url=/es/" />
    
    <title>{meta.title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={`https://www.brayantellez.com/`} />

    <link rel="icon" type="image/x-icon" href="/assets/logotipe/icon_bpp_colour.ico">
</head>