---
import Template from "../template/Template.astro";
import Form, { type FormProps } from "../components/react/Form.tsx";
import Breadcrumb from "../components/Breadcrumb.astro";

const formConfig: FormProps = {
    inputs: [
        {
            id: 'email', label: 'Correo', type: 'email', validator: 'email'
        },
        {
            id: 'password', label: 'Contraseña', type: 'password', validator: 'password'
        }
    ],
    refs: [
        { text: 'Registro', href: '/registro' }
    ],
    title: 'Iniciar sesión',
    uri: '',
    method: 'POST',
    redirect: '/blog'
};
const routes = [
  { text: 'Brayan Téllez', href: '/' },
  { text: 'Inicio sesión', href: '/inicio-sesion' }
];
---
<Template includes={['form']}>
    <Breadcrumb routes={routes}/>
    <section id="main">
        <Form {...formConfig} client:only="react"/>
    </section>
</Template>