---
import Template from "../../../template/Template.astro";
import Article from "../../../components/learn/Article.astro";
import Breadcrumb from "../../../components/Breadcrumb.astro";
import LanguageController from "../../../components/LanguageController.astro";

import type { ILearnConcept } from "../../../interface/Learn.ts";
import { GetAllLearn } from "../../../api/learn";

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
    { params: { lang: 'ch' } },
  ];
}

const { lang } = Astro.params;
const articulos: ILearnConcept[] = await GetAllLearn({ lang });
const routes = [
  { text: 'Brayan Téllez', href: '/' },
  { text: 'Blog', href: '/learn' }
];
---
<Template includes={['learn', 'lang-buttons']} lang={lang}>
    <LanguageController lang={lang}/>
    <Breadcrumb routes={routes}/>
    <section id="main">
      {
        articulos.map( articulo => <Article {...articulo}/> )
      }
    </section>
</Template>