---
import Puntuation from "../react/Puntuation.tsx";

const { image, name, puntuation, comment } = Astro.props;
---
<article class="container comment">
    <header>
        <img src={image} alt="Imagen del cliente."/>
        <span>{name}</span>
        <Puntuation puntuation={puntuation} client:only="react"/>
    </header>
    <main>
        <p>
            {comment}
        </p>
    </main>
</article>