---
const { routes } = {
    routes: [
        { text: 'Brayan Téllez', href: '/' }
    ],
    ...Astro.props
};
---
<nav class="breadcrumb" id="breadcrumb" aria-label="Breadcrumb" aria-labelledby="breadcrumb-label">
  <h2 id="breadcrumb-label" class="visually-hidden">Ruta de navegación</h2>
  <ul>
    {
      routes.map(({ text, href }, index) => (
        <li>
          <a 
            href={href} 
            {...(index === routes.length - 1 ? { 'aria-current': 'page' } : {})}
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
<div id="scroll-sentinel-breadcrumb" style="position: absolute; top: 75px; height: 1px;"></div>
<script is:inline>
    const breadcrumb = document.querySelector("#breadcrumb");
    const sentinelBreadcrumb = document.getElementById('scroll-sentinel-breadcrumb');

    const observerBreadcrumb = new IntersectionObserver(
        ([entry]) => {
            if (!entry.isIntersecting) {
                breadcrumb.classList.add('scrolled');
            } else {
                breadcrumb.classList.remove('scrolled');
            }
        },
        {
            root: null,
            threshold: 0
        }
    );

    observerBreadcrumb.observe(sentinelBreadcrumb);
</script>