---
const { routes } = {
    routes: [
        { text: 'Brayan Téllez', href: '/' }
    ],
    ...Astro.props
};
---
<nav class="breadcrumb" id="breadcrumb">
    <ul>
        {
            routes.map( ({ text, href }) =>
                <li>
                    <a href={href}>{text}</a>
                </li>
            )
        }
    </ul>
</nav>
<div id="scroll-sentinel-breadcrumb" style="position: absolute; top: 75px; height: 1px;"></div>
<script is:inline>
    const breadcrumb = document.querySelector("#breadcrumb");
    const sentinelBreadcrumb = document.getElementById('scroll-sentinel-breadcrumb');

    const observerBreadcrumb = new IntersectionObserver(
        ([entry]) => {
            if (!entry.isIntersecting) {
                breadcrumb.classList.add('scrolled');
            } else {
                breadcrumb.classList.remove('scrolled');
            }
        },
        {
            root: null,
            threshold: 0
        }
    );

    observerBreadcrumb.observe(sentinelBreadcrumb);
</script>