body {
    grid-template-areas:
        "n n n n n n n n n n n n"
        ". p p p p m m m m m m ."
        ". e e e e m m m m m m ."
        ". t t t t t t t t t t ."
        ". a a a a a a v v v v ."
        ". l l l l l l v v v v ."
        ". h h h h o o o o o o ."
        "r r r r r r r r r r r r";
}

#main {
    display: flex;
    flex-direction: column;
    padding: 20px 28vw;
    gap: 2em;
}

h2 {
    font-size: clamp(18px, 3vw, 24px);
    color: var(--second-color);
}

#foto_perfil {
    width: 25vw;
    height: 25vw;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    transition: border-radius 0.3s;

    & > img:first-child {
        position: absolute;
        top: -15%;
        aspect-ratio: unset;
        width: 100%;
    }
    & > img:last-child {
        display: none;
    }
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 4em 0;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tags {
    display: flex;
    justify-content: space-evenly;
}

.experience {
    display: flex;
    gap: 10px;
    flex-direction: column;

    & > li {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    & img {
        border-radius: 10px;
        width: 60px;
    }
}

.photo {
    grid-area: p;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 0 0 15px 0;

    & img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 10px;
    }
}

.techs {
    grid-area: t;
}

.main_project {
    justify-content: space-between;
    grid-area: m;
}

.about {
    grid-area: a;
    & ul, ol {
        list-style: none;
    }
}

.videos {
    justify-content: space-between;
    grid-area: v;
}

.languages {
    grid-area: l;
}

.hobbies {
    grid-area: h;
}

.projects {
    justify-content: space-between;
    grid-area: o;
}

.education {
    grid-area: e;
}

footer {
    grid-area: r;
}

a.cv {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    width: max-content;
    &:hover {
        color: var(--second-color);
        border-color: var(--second-color);
    }
}

ul.video-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: var(--standart-size-fr);
    flex-direction: column;
    box-sizing: border-box;

    & > li.video {
        position: relative;
        border: 1px solid transparent;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        height: fit-content;

        & > a {
            padding: 0;
            margin: 0;
            width: 100%;
            height: fit-content;
            display: block;
            text-decoration: none;
            line-height: 0;
            aspect-ratio: 16/9;

            &::before {
                display: flex;
                line-height: normal;
                justify-content: center;
                align-items: center;
                align-content: center;
                box-sizing: border-box;
                content: attr(data-title);
                padding: 15px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: transparent;
                font-weight: bold;
                background-color: transparent;
            }

            &:hover::before {
                color: var(--second-color);
                background-color: var(--shadow-color-black);
            }

            & > img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            border-color: var(--second-color);
        }
    }
}

.project_tag {
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px calc(100% - 225px);
    grid-template-areas:
        "n n"
        "i d"
        "i t"
        "a a";
    align-items: center;
    gap: var(--standart-size-fr);
    overflow: hidden;
    align-items: center;
    justify-content: center;

    & > img {
        width: 100%;
        grid-area: i;
    }
    & > a {
        grid-area: a;
    }
    & > h3 {
        grid-area: n;
    }
    & > p {
        grid-area: d;
    }
    & > div.tags {
        grid-area: t;
    }

    &:hover::before {
        box-sizing: border-box;
        position: absolute;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        content: attr(data-title);
        background-color: var(--shadow-color-black);
        color: var(--second-color);
    }
}