@font-face {
    font-family: Ubuntu;
    src: url('/fonts/Ubuntu-Regular.ttf');
}

* {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    --main-color: rgb(65, 18, 92);
    --second-color: rgb(97, 70, 107);
    --third-color: rgb(155, 95, 175);
    --pale-color: rgb(201, 201, 201);
    --dark-color: rgb(3, 19, 32);
    --light-color: rgb(242, 234, 243);
    --text-heading-color: var(--third-color);
    --text-content-color: var(--light-color);
    --background-color: var(--dark-color);
    --shadow-color: rgba(5, 12, 17, 0.4);
    --shadow-color-dark: rgba(46, 17, 53, 0.4);
    --shadow-color-dark-deep: rgba(46, 17, 53, 0.8);
    --error-color: rgb(151, 45, 50);
    --success-color: rgb(45, 151, 86);
    color: var(--text-content-color);
}

html {
    width: 100%;
    min-height: 100dvh;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

body.light {
    --text-content-color: var(--dark-color);
    --background-color: var(--light-color);
    --pale-color: rgb(73, 73, 73);
    & * {
        --github-color: #181717;
        --pale-color: rgb(170, 140, 173);
        --text-content-color: var(--dark-color);
        --background-color: var(--light-color);
    }
}

body.dark {
    --text-content-color: var(--light-color);
    --background-color: var(--dark-color);
    & * {
        --text-content-color: var(--light-color);
        --background-color: var(--dark-color);
    }
}

header {
    z-index: 5;
    position: sticky;
    background-color: var(--background-color);
    top: 0;
    padding: 0;
    height: 100px;
    width: 90%;
    left: 5%;
    font-size: 18px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 5px var(--second-color);
    padding: 10px 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > img {
        width: 80px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
    }
}

h1, h2, h3, h4, h5, h6 {
    height: fit-content;
    color: var(--text-heading-color);
    font-variant: small-caps;
}

nav.header-navigation {
    background-color: transparent;
    & > ul {
        display: flex;
        list-style: none;
        gap: 1rem;

        & > li svg {
            width: 25px;
            height: 25px;
            & * {
                stroke: var(--text-content-color);
            }
        }
        & > li > a {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            min-width: 100px;
            text-align: center;
            padding: 5px 10px;
            border-radius: 8px;
            text-decoration: none;

            &::after {
                content: '';
                position: absolute;
                background-color: var(--third-color);
                top: calc(100%);
                left: 50%;
                border-radius: 1px;
                height: 2px;
                width: 0%;
                transition: left ease-in-out 0.3s, width ease-in-out 0.3s;
            }

            &:hover, &.current {
                color: var(--third-color);

                &::after {
                    left: 0%;
                    width: 100%;
                }

                & > svg * {
                    stroke: var(--third-color);
                }
            }
        }
    }
}

#main {
    padding: 20px 10%;
}

h1 {
    font-size: clamp(24px, 5vw, 48px);
}

h2 {
    font-size: clamp(20px, 4vw, 36px);
}

h3 {
    font-size: clamp(18px, 3vw, 24px);
}

h4 {
    font-size: clamp(16px, 2.6vw, 20px);
}

h5 {
    font-size: clamp(14px, 2.2vw, 18px);
}

h6 {
    font-size: clamp(12px, 1.8vw, 16px);
}

p, span, a {
    font-size: clamp(14px, 1.8vw, 18px);
}

span {
    line-height: 0.6;
}

p {
    line-height: 1.5;
}

figcaption {
    font-size: clamp(10px, 1.2vw, 14px);
    color: gray;
    font-style: italic;
}

li {
    line-height: 1.8em;
}

.switch {
    border: 2px solid var(--main-color);
    background-color: transparent;
    height: 34px;
    width: 64px;
    border-radius: 16px;
    padding: 3px;
    position: relative;
    cursor: pointer;

    & > button {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        position: absolute;
        transition: left 0.3s;
        background-color: var(--main-color);

        &.light {
            left: 3px;
            & > svg:first-of-type {
                opacity: 1;
            }
            & > svg:last-of-type {
                opacity: 0;
            }
        }
        &.dark {
            left: 33px;
            & > svg:first-of-type {
                opacity: 0;
            }
            & > svg:last-of-type {
                opacity: 1;
            }
        }
        & > svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            transition: opacity 0.3s;
            & * {
                fill: var(--background-color);
                stroke: var(--background-color);
            }
        }
    }
}

footer.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--main-color);

    & .tags {
        gap: 15px;
    }
}