@font-face {
    font-family: Ubuntu;
    src: url('/fonts/Ubuntu-Regular.ttf');
}

* {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    --main-color: rgb(79, 27, 110);
    --second-color: rgb(97, 70, 107);
    --third-color: rgb(155, 95, 175);
    --pale-color: rgb(201, 201, 201);
    --dark-color: rgb(3, 19, 32);
    --light-color: rgb(242, 234, 243);
    --text-heading-color: var(--third-color);
    --text-content-color: var(--light-color);
    --background-color: var(--dark-color);
    --shadow-color: rgba(5, 12, 17, 0.4);
    --shadow-color-black: rgba(0, 0, 0, 0.95);
    --shadow-color-dark: rgba(46, 17, 53, 0.25);
    --shadow-color-dark-deep: rgba(46, 17, 53, 0.7);
    --error-color: rgb(151, 45, 50);
    --success-color: rgb(45, 151, 86);
    --standart-size-fr: 25px;
    color: var(--text-content-color);
}

html {
    width: 100%;
    min-height: 100dvh;
}

body {
    position: relative;
    height: 100%;
    background-color: var(--background-color);
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    gap: var(--standart-size-fr);
    padding: var(--standart-size-fr);
}

body.light {
    --text-content-color: var(--dark-color);
    --background-color: var(--light-color);
    --pale-color: rgb(73, 73, 73);
    & * {
        --github-color: #181717;
        --pale-color: rgb(170, 140, 173);
        --text-content-color: var(--dark-color);
        --background-color: var(--light-color);
    }
}

body.dark {
    --text-content-color: var(--light-color);
    --background-color: var(--dark-color);
    & * {
        --text-content-color: var(--light-color);
        --background-color: var(--dark-color);
    }
}

h1, h2, h3, h4, h5, h6 {
    height: fit-content;
    color: var(--text-heading-color);
    font-variant: small-caps;
}

header:has(div.nav-sentinel:hover) > .header-navigation {
    background-color: red !important;
}

header {
    position: sticky;
    top: var(--standart-size-fr);
    grid-area: n;
    padding: 0;
    z-index: 100;
}

nav.header-navigation {
    position: relative;
    z-index: 100;
    overflow: hidden;
    border-radius: var(--standart-size-fr);
    background-color: var(--shadow-color);
    transition: background-color 0.2s ease-in-out;
    border: none;

    & > ul {
        height: 50px;
        display: flex;
        list-style: none;
        justify-content: space-between;

        & > li svg {
            width: var(--standart-size-fr);
            height: var(--standart-size-fr);
            & * {
                stroke: var(--text-content-color);
            }
        }
        & > li > a {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            position: relative;
            padding: 5px 10px;
            text-decoration: none;
            color: var(--third-color);
            border-radius: 25px;

            & > svg * {
                stroke: var(--third-color);
                transition: left ease-in-out 0.3s, width ease-in-out 0.3s;
            }

            &:hover {
                background-color: var(--shadow-color-dark);
            }

            &.current {
                color: var(--pale-color);
                background-color: var(--main-color);

                & > svg * {
                    stroke: var(--pale-color);
                }
            }
        }
    }
}

div.language-controller {
    z-index: 100;
    position: fixed;
    width: 100px;
    height: 50px;
    background-color: var(--shadow-color-dark-deep);
    border-radius: var(--standart-size-fr);
    bottom: var(--standart-size-fr);
    right: var(--standart-size-fr);
    cursor: pointer;

    & > button {
        cursor: pointer;
        & svg * {
            stroke: var(--text-content-color);
        }
    }

    & > .langs-container {
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;
        list-style: none;
        border-radius: 10px;
        background-color: var(--shadow-color-dark-deep);
        overflow: hidden;

        & > li:hover {
            background-color: var(--shadow-color-black);
        }

        &.hide {
            display: none;
        }
    }
}

#main {
    padding: 20px 10%;
}

h1 {
    font-size: clamp(24px, 5vw, 48px);
}

h2 {
    font-size: clamp(20px, 4vw, 36px);
}

h3 {
    font-size: clamp(18px, 3vw, 24px);
}

h4 {
    font-size: clamp(16px, 2.6vw, 20px);
}

h5 {
    font-size: clamp(14px, 2.2vw, 18px);
}

h6 {
    font-size: clamp(12px, 1.8vw, 16px);
}

p, span, a {
    font-size: clamp(14px, 1.8vw, 18px);
}

span {
    line-height: 0.6;
}

p {
    line-height: 1.5;
}

figcaption {
    font-size: clamp(10px, 1.2vw, 14px);
    color: gray;
    font-style: italic;
}

li {
    line-height: 1.8em;
}

.switch {
    border: 2px solid var(--main-color);
    background-color: transparent;
    height: 34px;
    width: 64px;
    border-radius: 16px;
    padding: 3px;
    position: relative;
    cursor: pointer;

    & > button {
        width: var(--standart-size-fr);
        height: var(--standart-size-fr);
        border-radius: 12px;
        border: none;
        cursor: pointer;
        position: absolute;
        transition: left 0.3s;
        background-color: var(--main-color);

        &.light {
            left: 3px;
            & > svg:first-of-type {
                opacity: 1;
            }
            & > svg:last-of-type {
                opacity: 0;
            }
        }
        &.dark {
            left: 33px;
            & > svg:first-of-type {
                opacity: 0;
            }
            & > svg:last-of-type {
                opacity: 1;
            }
        }
        & > svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            transition: opacity 0.3s;
            & * {
                fill: var(--background-color);
                stroke: var(--background-color);
            }
        }
    }
}

footer.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--main-color);

    & .tags {
        display: flex;
        gap: 15px;
        flex-direction: row;
    }
}

nav.breadcrumb {
    z-index: 99;
    padding: 0 var(--standart-size-fr);

    & > ul {
        display: flex;
        list-style: none;
        border-radius: 8px;
        overflow: hidden;
        width: max-content;

        & > li {
            background-color: var(--shadow-color-dark);
            list-style: none;

            & > a:nth-child(n) {
                transition: color 0.3s;
                
                &::after {
                    position: absolute;
                    content: '';
                    top: 12px;
                    left: 0;
                    width: 2px;
                    height: 1.3em;
                    rotate: 20deg;
                    border-radius: 2px;
                    background-color: var(--text-content-color);
                    transition: background-color 0.3s;
                }
            }

            & > a {
                cursor: pointer;
                position: relative;
                padding: 10px;
                display: block;
                text-decoration: none;

                &:hover {
                    color: var(--main-color);

                    &::after {
                        background-color: var(--main-color);
                    }
                }
            }

            &:first-child > a::after {
                display: none;
            }
        }
    }
}

.container {
    background-color: var(--shadow-color);
    border-radius: 10px;
    box-shadow: 0 3px 4px var(--shadow-color);
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;

    &:hover {
        background-color: var(--shadow-color-dark);
    }
}

@media screen and (min-width: 1250px) {
    body {
        grid-template-columns: repeat(12, 75px);
    }
    nav.header-navigation > ul > li > a {
        width: 275px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1250px) {
    body {
        grid-template-columns: repeat(10, 75px);
    }
    nav.header-navigation > ul > li > a {
        width: 200px;
        & > svg {
            display: none;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    body {
        grid-template-columns: repeat(9, 70px);
    }
    nav.header-navigation > ul > li > a {
        width: 200px;
        & > svg {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }
    nav.header-navigation > ul > li > a {
        width: 80px;
        & > span {
            display: none;
        }
    }
}

nav.header-navigation.scrolled {
    background-color: var(--shadow-color-black) !important;
}

nav.breadcrumb.scrolled > ul {
    background-color: var(--shadow-color-black) !important;
    
    & > li {
        background-color: transparent;
    }
}