* {
    --ts-color: #3178C6;
    --js-color: #F7DF1E;
    --react-color: #61DAFB;
    --youtube-color: #FF0000;
    --linkedin-color: #0077B5;
    --github-color: #e4e4e4;
    --html-color: #E34F26;
    --css-color: #1572B6;
    --django-color: #092E20;
    --py-color: #FFD43B;
    --c-color: #A8B9CC;
    --cpp-color: #00599C;
    --csharp-color: #68217A;
    --godot-color: #478CBF;
    --react-color: #68217A;
}

button.tag, a.tag {
    text-decoration: none;
    display: flex;
    background-color: transparent;
    border: none;
    padding: 5px;
    gap: 5px;
    min-width: 100px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    align-items: center;

    & > svg {
        width: 40px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 100%;
    }

    & > span {
        display: block;
        margin: 0 10px;
        font-weight: bold;
    }
}

.ts, .ts * {
    --color: var(--ts-color);
}

.js, .js * {
    --color: var(--js-color);
}

.react, .react * {
    --color: var(--react-color);
}

.youtube, .youtube * {
    --color: var(--youtube-color);
}

.linkedin, .linkedin * {
    --color: var(--linkedin-color);
}

.github, .github * {
    --color: var(--github-color);
}

.html, .html * {
    --color: var(--html-color);
}

.css, .css * {
    --color: var(--css-color);
}

.django, .django * {
    --color: var(--django-color);
}

.c, .c * {
    --color: var(--c-color);
}

.cpp, .cpp * {
    --color: var(--cpp-color);
}

.csharp, .csharp * {
    --color: var(--csharp-color);
}

.py, .py * {
    --color: var(--py-color);
}

.react, .react * {
    --color: var(--react-color);
}

.godot, .godot * {
    --color: var(--godot-color);
}

.button-lang, .button-lang * {
    color: var(--color);
    fill: var(--color);
    cursor: pointer;
}

.button-lang-rl {
    padding: 5px 10px !important;
    --color: black;
    cursor: pointer;
}

.button-lang-rl:hover {
    background-color: var(--color) !important;
}


.button-lang:hover {
    background-color: var(--color) !important;
    & * {
        color: var(--background-color);
        fill: var(--background-color) !important;
    }
}