aside {
    grid-area: a;
    padding: var(--standart-size-fr);
    position: sticky;
    top: 100px;
    height: fit-content;

    & ul {
        list-style: none;
    }
    & a {
        text-decoration: none;

        &.current {
            font-weight: bold;
            color: var(--main-color);
        }
    }
}

main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    gap: var(--standart-size-fr);

    & > h1 {
        text-align: center;
    }
}

footer {
    grid-area: f;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-self: center;
    gap: 100px;

    & > button {
        background-color: transparent;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: var(--main-color);
        }
    }
}

figure.img {
    margin: var(--standart-size-fr);
    align-self: center;
    justify-self: center;
    width: 350px;
    & > figcaption {
        margin-top: 10px;
        text-align: center;
        color: var(--second-color);
    }
    & > img {
        width: 100%;
    }
}

figure.video {
    margin: var(--standart-size-fr);
    align-self: center;
    justify-self: center;
    width: 80%;
    & > figcaption {
        margin-top: 10px;
        text-align: center;
        color: var(--second-color);
    }

    & > iframe {
        aspect-ratio: 16/9;
        border-radius: 10px;
        width: 100%;
        border: none;
    }
}

div.code {
    width: 80%;
    align-self: center;
    justify-self: center;
    margin: var(--standart-size-fr);
    display: flex;
    flex-direction: column-reverse;
    font-size: clamp(14px, 1.8vw, 18px);
    line-height: 1.5;
    width: max(80%, 300px);

    & > pre:hover + span {
        background-color: var(--shadow-color-dark);
    }

    & > span {
        display: block;
        width: fit-content;
        padding: 10px var(--standart-size-fr);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-left: 10px;
        background-color: var(--shadow-color);
    }

    & > pre {
        width: 100%;
        overflow: auto;
    }
}

p {
    text-align: justify;
}

dl > * {
    font-size: clamp(14px, 1.8vw, 18px);
    line-height: 1.5;
}
dt {
    font-weight: bold;
}

.center {
    font-size: clamp(14px, 1.8vw, 18px);
    line-height: 1.5;
    display: block;
    text-align: center;
    font-weight: bold;
    word-spacing: 1em;
}

table {
    width: max(80%, 300px);
    align-self: center;
    justify-self: center;
    margin: var(--standart-size-fr) auto;
    overflow-x: auto;

    & > thead {
        background-color: var(--shadow-color);
    }

    & > caption {
        margin-top: 10px;
        text-align: center;
        color: var(--second-color);
    }
}

@media screen and (min-width: 1250px) {
    body {
        grid-template-areas:
            "n n n n n n n n n n n n"
            "m m m m m m m m m a a a"
            "f f f f f f f f f . . .";
    }
}

@media screen and (min-width: 800px) and (max-width: 1250px) {
    body {
        grid-template-areas:
            "n n n n n n n n n n"
            "m m m m m m m a a a"
            "f f f f f f f . . .";
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    body {
        grid-template-areas:
            "n n n n n n n n n"
            "m m m m m m a a a"
            "f f f f f f . . .";
    }
}

@media screen and (max-width: 600px) {
    body {
        grid-template-areas:
            "n n n n n"
            "m m m m m"
            "f f f f f"
            "a a a a a";
    }
}