.App {
  text-align: center;
  background: linear-gradient(#232323, rgb(8, 24, 37));  
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  background-color: #232323;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: #232323;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 5px;
}
*::-webkit-scrollbar-corner{
  background-color: #333333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

hr{
  border: 1px solid #3f3f3f;
}